<div>
    
    <div class="heading">Recent New Users</div>
    <div class="card">
        
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../../assets/person.svg" alt="" width="50px">
                </div>

                <div class="col-md-9">
                    <div class="user-name">Ben</div>
                    <div class="user-bio">This is my Bio</div>
                </div>
            </div>
        </div>
    </div>
</div>